#root {
    padding: 0;
    margin: 0;
    max-width: 99%;
}
.center {
    margin: 0 auto;
}
.outline {
    border: 1px solid black;
}
.tile {
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}
.view {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
}
input {
    margin: 5px auto;
    display: block;
    width: 100%;
}
h1 {
    text-align: center;
}

/* TRANSITIONS */
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
}
  